.left-nav .left-nav-header {
  display: flex;
  align-items: center;
  height: 80px;
  background-color: #002140;
}
.left-nav .left-nav-header h1 {
  color: white;
  font-size: 20px;
  margin-bottom: 0;
}
